.display-4{
    text-align: center;
}
.lead{
    text-align: center;
    padding: 30px;
}
.text{
    text-align: center;

}
.start{
    text-align:  center;
}
.login{
    text-align:  center;
    
}
.logout{
    text-align:  center;
    padding: 10px;
}
.btn1{
    margin-left: 50%;
    padding: 30px;
}